<p style="color: green"><%= notice %></p>

<h1>My Movie-Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show my List", list %>
    </p>
  <% end %>
</div>

<%= link_to "+ Create new list", new_list_path %>
